<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= content_tag :div,nil, data: { 
                                   controller: 'poller',
                                   url: users_path
                                 } %>
